h1 {
	font: bold 120% Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	width: 100%;
	margin-left: -30px;
	padding: 40px;
	margin-top: -8px;
	margin-bottom: 0px;
}

.middle {
	background-color: #139A3E;
}
.content {
	width: 205px; 
	margin-right: 2px;
	margin-left:  0px;
	
	padding-bottom: 5px;
	color: black;
}
.contentright {
	width: 205px; 
	margin-left: 1px;
	margin-right: 30px;
	padding-bottom: 5px;
	background-image: url('../graphics/buttons/button.jpg');
}	
.subbox {
	width: 205px;
	font-size: 1.1em;
	margin-bottom: 0px;
	margin-left: 0px;	
	margin-right: 2px;
	background-image: url('../graphics/buttons/middle.jpg');
}

.subboxright {
	width: 205px; 
	font-size: 1.1em;
	margin-left: 1px;
	margin-right: 30px;
	background-image: url('../graphics/buttons/middle.jpg');
}

div.subboxright input{
	background: #D9F2E5;
	width: 150px;
	margin-left: 25px
	}

.subbox ul {
	list-style-type: none;
	line-height: 200%;
	text-indent: 0px;
	margin-left: 19px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.subboxright ul {
	list-style-type: none;
	line-height: 200%;
	text-indent: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
}

.bottom_menu {
	width: 205px;
	margin: 0px 0px 0px 0px;
}
.bottom_menu_right {
	width: 205px;
	margin: 0px 0px 0px 1px;
}
#bottom_menu_right {
	width: 205px;
	margin: -19px 0px 0px 1px;
}

div.subboxright .button{
margin: 2px 0px 0px 35px;
}
div.subboxright input{
	background: #D9F2E5;
	width: 150px;
	margin-left: 32px
	}
div.subboxright label {
	margin-left: 32px;
}

li{
	text-align: left;
	margin: 0px 0px 0px 0px;
	font-size: 90%;
}
#log_text {
margin-left: 10px;
margin-top: 0px;
}


